/* .background {
   position: relative;
    min-height: 100vh;
    
    background-image: url("/public/images/wall.png");
    background-size: 180px 180px;
    background-repeat: repeat;
} */

.section {
 position: relative;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 

  display: flex;


   background-image: url("/public/images/wall.png"); 
  background-size: 180px 180px;
  background-repeat: repeat;   
  background-position: 0 0;   
}

.track {
   position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 8vw;          
  will-change: transform;

}

/* .item {
  flex: 0 0 70vw;  
} */
