.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #FAF7EF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.navRight {
    display: flex;
    gap: 2rem;
}

.title {
    /* font-size: 1.125rem; */
    /* font-family: 'DM Serif Display', serif;
    font-weight: bold; */
    color: #5D718E;

    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.text {
    font-size: 1rem;
    /* font-family: 'Noto Sans TC', sans-serif; */
    color: #5D718E;
  
}

.text:hover {
    color: #526EB7;
}

@media (min-width: 768px) {
    .navRight {
        gap: 5rem;
    }
    /* .title {
         font-size: 1.25rem;
    } */
    .text {
        font-size: 1.125rem;
        /* font-family: 'Noto Sans TC', sans-serif;
        color: #5D718E; */
    }
} 